.speaker{
  background: rgba(65, 124, 200, 0.23);
  border-radius: .5rem;
  padding: 2rem;
  box-shadow: 0 0 2rem 0 rgba($shadow-default-color,.15);
  &__img{
    width: $speaker-img-size;
    height: $speaker-img-size;
    display: block;
    border-radius: 50%;
    box-shadow: $speaker-img-shadow;
  }
  &__details{}
  &__name{
    color: $heading-color;
    font-size: $font-size-h5;
  }
  &__position{
  color: $subtext-color;
  font-size: $font-size-base;
  }
}