$shadow-default-color:#32325d;
$heading-color:#32325d;
$subtext-color:#525f7f;
$text-color:#333;

$blue:#1171ef;
$teal:#11cdef;

$grad-blue-teal:linear-gradient(90deg,$teal,$blue);

$font-size-base:1rem;//16px

$font-size-h1: ceil($font-size-base*2.25);//36px
$font-size-h2: floor($font-size-base*1.875);//30px
$font-size-h3: ceil($font-size-base*1.5);//24px
$font-size-h4: ceil($font-size-base*1.25);//20px
$font-size-h5: ceil($font-size-base*1.125);//18px
$font-size-h6: $font-size-base;//16px

$spacer: 1rem;
$spacers:()!default;
$spacers:map-merge(
  (
          0:0,
          1:($spacer*.125),//2px   .125rem
          2:($spacer*.25),//4px   .25rem
          3:($spacer*.5),//8px  .5rem
          4:$spacer,//16px 1rem
          5:($spacer*1.25),//20px 1.25rem
          6:($spacer*1.5),//24px 1.5rem
          7:($spacer*1.875),//30px 1.875rem
          8:($spacer*2),//32px 2rem
  ),$spacers
);

$speaker-img-size:100px;
$speaker-img-shadow:0 4px 6px rgba($shadow-default-color,.11),
0 1px 3px rgba($shadow-default-color,.08);